form {
    margin: 0 auto;
}
.search {
    padding: 6px 15px 6px 30px;
    margin: 3px;
    background: url(https://bitbucket.org/standyachenko/ffff/downloads/search[1].png) no-repeat 8px 6px;
}
.rounded {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
input[type=text] {
    color: #241F1F;
}
input[type=button], input[type=button]:hover {
    position: relative;
    left: -6px;
    border: 1px solid #adc5cf;
    background: #e4f1f9; /* Old browsers */
    background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4f1f9), color-stop(100%, #d5e7f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* IE10+ */
    background: linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3', GradientType=0 ); /* IE6-9 */
    color: #7da2aa;
    cursor: pointer;
}
.lighter, .light, .dark {
    width: 95%;
    height: 50px;
}
.light {
    background: url('light_grey.jpg');
}
.light input[type=text] {
    border: 1px solid #acb1b7;
    background-color: #fff;
}
body {
    color: #000;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0; /* Убираем отступы */
    margin-top: 0px;
    background: url(https://bitbucket.org/standyachenko/ffff/downloads/lighter_grey.jpg);
">
}
.blog-post, .blog-page {
    padding: 30px;
    padding: 1.875rem;
    background-color: transparent;
    border-bottom: solid #000;
    border-bottom-width: 2px;
    border-bottom-width:.125rem
}
.blog-pagination {
    background-color: transparent;
    border-bottom: transparent;
}
hr.large {
    height: .1rem;
    background: #000000;
}
.container .columns.four {
    margin: 0; /* Отступы вокруг элемента */
    margin-top: 0px;
    padding: 0px; /* Поля вокруг текста */
    background: transparent;
}
.site-header {
    width: 950px; /* Ширина слоя */
    border-bottom: transparent;
    margin-right: auto; /* Отступ справа */
    margin-left: auto; /* Отступ слева */
    background: transparent;
}
.site-header .header-top {
    background: url(https://bitbucket.org/standyachenko/ffff/downloads/logo.png);
">
}
.site-header .header-top h1 a {
    color: transparent;
}
.site-content {
    position: relative;
    width: 700px;
    margin: 0 auto;
    visibility: visible;
}
.widget-about {
    background: transparent;
}
.widget-title {
    background: transparent;
}
.popular-posts {
    background: transparent;
}
.widget {
<!--
background: transparent; /* Цвет фона */
-->
<!--
color: #000; /* Цвет текста */
-->
    padding: 1px; /* Поля вокруг текста */
    -moz-border-radius: 10px; /* Для Firefox 3 */
    -webkit-border-radius: 10px; /* Для Safari 4 и Chrome */
    border-radius: 10px; /* Для современных браузеров */
}
blockquote {
    margin: 0 0 30px;
    padding: 0 0 0 81px;
    background: url(http://www.brainpickings.org/wp-content/themes/brainpickings_p2h/images/bg-blockquote.gif) no-repeat 0 3px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    word-spacing: 0.3ex;
    font-family: url(http://fonts.googleapis.com/css?family=Tenor+Sans&subset=latin,cyrillic);
    border-left: transparent;
    line-height: 21px;
    letter-spacing: -1px;
    min-height: 53px;
}
blockquote, blockquote p {
    color: #000;
    font-style: normal;
}
p img {
    display: block;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
</style>


  body{
 color:#636363;
 line-height:1.625;
 font-family:'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
 font-size:14px;
 font-size:.875rem;
 background-color:#f3f0eb
 }
 
 h1,h2,h3,h4,h5,h6{
 margin:8px 0;
 color:#636363;
 font-family:'Open Sans Condensed', sans-serif;
 line-height:1.4;
 font-weight:normal
 }
 h1.title,h2.title,h3.title,h4.title,h5.title,h6.title{
 color:#707070;  
 border-bottom-width:1px;  
 border-bottom-width:.0625rem;  
 border-bottom:solid #d7d7d7
 } 
 h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
 font-weight:inherit
 } 
 h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{
 color:#898989;  
font-weight:normal;  
font-size:70%
 }
 h1{
font-size:36px;  
font-size:2.25rem
 }
 h2{
font-size:24px;  
font-size:1.8rem;
text-align: center
 }
 h3{
font-size:21px;  
font-size:1.3125rem
 }
 h4{
font-size:18px;  
font-size:1.125rem
 }
 h5{
font-size:16px;  
font-size:1rem
 }
 h6{
font-size:14px;  
font-size:.875rem
 }
 p{
margin:0;  
margin-bottom:15px;  
margin-bottom:.9375rem
 }
 p img {
    display: block;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
 img{
 max-width:100%;
 height:auto
 }
 a{
 -webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;  
transition:all .2s ease-out;-webkit-transform:translate3d(0,0,0);
 color: #252525;  
text-decoration:none
 }
 a:hover,a:active,a:focus{
 color:#cd4654
 }
 ul,ol{
 margin-left:40px;  
margin-left:2.5rem;  
padding:0
 }
 cite,em,i{
 font-style:italic
 }
 blockquote,blockquote p{
 font-size:17px;  
font-size:1.0625rem;  
color:#898989;  
font-style:italic
 }
 blockquote{
margin:0;  
margin-left:30px;  
margin-left:1.875rem;  
margin-bottom:30px;  
margin-bottom:1.875rem;  
padding:9px 30px;  
padding:.5625rem 30px;  
padding:9px 1.875rem;  
padding:.5625rem 1.875rem;  
border-left-width:4px;  
border-left-width:.25rem;  
border-left:solid #ccc;  
font-size:16px;  
font-size:1rem;  
font-weight:400;  
font-family:"Vollkorn";line-height:1.625
 }
 blockquote cite{
 display:block;  
font-size:12px;  
font-size:.75rem;  
color:#555
 }
 blockquote cite:before{
 content:"\2014 \0020"
 }
 blockquote cite a,blockquote cite a:visited,blockquote cite a:visited{
 color:#555
 }
 blockquote.right{
text-align:right;  
border-left:none;  
border-right-width:1px;  
border-right-width:.0625rem;  
border-right:solid #d7d7d7
 }
 sub,sup{
position:relative;  
vertical-align:baseline;  
font-size:75%;line-height:0
 }
 sup{
top:-8px;  
top:-0.5rem
 }
 sub{
 bottom:-4px;  
bottom:-0.25rem
 }
 i,em{
 font-style:italic
 }
 b,strong{
 font-weight:bold;  
color:#363636
 }
 small{
 font-size:75%
 }
 hr{
 border-width:0;  
border:solid #d7d7d7;  
border-top-width:1px;  
border-top-width:.0625rem;  
margin:0 0 10px;  
height:0;*zoom:1
 }
 hr:before,hr:after{
 display:table;  
content:""
 }
 hr:after{
 clear:both
 }
 hr:after{
 content:"";display:table;  
clear:both
 }
 hr.large{
 margin:20px 0;  
margin:1.25rem 0;  
height:8px;  
height:.5rem;  
background:#ebebeb;  
border:0
 }
 pre,code{
 font-size:13px;  
font-size:.8125rem
 }
 pre{
 background:#ebebeb;  
font-family:"Courier 10 Pitch",Courier,monospace;  
margin-bottom:15px;  
margin-bottom:.9375rem;  
padding:15px;  
padding:.9375rem
 }
 code{
 font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace
 }
 figure{
 margin:0
 }
 table{
 margin:0 0 1.5em;  
width:100%
 }
 th{
 font-weight:bold
 }
 .avatar a,.avatar img{
 -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;margin:auto;  
padding:0
 }
 .avatar a{
display:inline-block;  
height:96px;  
height:6rem;  
width:96px;  
width:6rem;-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.25);-moz-box-shadow:0 2px 3px rgba(0,0,0,0.25);box-shadow:0 2px 3px rgba(0,0,0,0.25);border:solid #fff;  
border-width:2px;  
border-width:.125rem
 }
 .avatar img{
height:92px;  
height:5.75rem;  
width:92px;  
width:5.75rem
 }
 embed,iframe,object{
 max-width:100%
 }
 body{
 padding-top:30px;  
padding-top:1.875rem;  
padding-bottom:30px;  
padding-bottom:1.875rem
 }
 .site-header,.site-content{
 margin-bottom:30px;  
margin-bottom:1.875rem
 }
 .site-header{
 background:transparent;  
border-bottom:solid #d7d7d7;  
border-bottom-width:2px;  
border-bottom-width:.125rem
 }
 .site-header .header-top{
 margin:0 0 10px;  
text-align:center
 }
 .site-header .header-top h1{
 padding-top:15px;  
padding-top:.9375rem;  
text-transform:uppercase
 }
 .site-header .header-top h1 a{
 color:#111
 }
 .site-header .header-top h2{
 padding-top:5px;  
padding-top:.3125rem
 }
 .site-header .site-nav{
height:45px;  
height:1.9125rem;  
margin-top:30px;  
margin-top:1.875rem;  
font-size:12px;  
font-size:.75rem;  
text-transform:uppercase;  
list-style:none
 }
 
.menu-triangle-left {
position: absolute;
top: -1px;
right: 0px;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 12px solid #f4f4f4;
border-bottom: 15px solid transparent;
}

.menu-triangle-right {
position: absolute;
top: -1px;
left: 0px;
width: 0;
height: 0;
border-top: 15px solid transparent;
border-left: 12px solid #f4f4f4;
border-bottom: 15px solid transparent;
}
 
 .site-header .nav-menu>li{
 display:inline-block;
 padding-top: 0px;
}
 .site-header .nav-menu>li>a{
 margin:17px 10px 18px;  
 border: 0;
 color: white;
}
 .site-header .nav-menu>li>a:hover{
 color:#cd4654
 }
 .site-footer{
 padding:20px 30px;  
font-size:12px;  
font-size:.75rem;  
text-align:center;
 }
 .site-footer p{
 margin:0
 }
 .feed-item{
 margin-bottom:30px;  
margin-bottom:1.875rem
 }
 .blog-post,.blog-page{
 padding:30px;  
padding:1.875rem;  
<!-- background-color:#fff; -->  
border-bottom:solid #d7d7d7;  
border-bottom: 4px double #000;
margin-right: 0;
 }
 .post-single{
 margin:0 0 10px
 }
 .post-header,.post-body{
 *zoom:1
 }
 .post-header:before,.post-body:before,.post-header:after,.post-body:after{
 display:table;  
content:""
 }
 .post-header:after,.post-body:after{
 clear:both
 }
 .post-header:after,.post-body:after{
 content:"";display:table;  
clear:both
 }
 .post-header{
 color:#111;  
margin-bottom:30px;  
margin-bottom:1.875rem
 }
 .post-title{
 margin-bottom:5px;  
margin-bottom:.3125rem;  
color:#111;*zoom:1
 }
 .post-title:before,.post-title:after{
 display:table;  
content:""
 }
 .post-title:after{
 clear:both
 }
 .post-title:after{
 content:"";display:table;  
clear:both
 }
 .post-title a{
 color:inherit
 }
 .post-metadata{
 font-size:11px;  
font-size:.6875rem;  
text-transform:uppercase;  
color:#b22130;*zoom:1
 }
 .post-metadata:before,.post-metadata:after{
 display:table;  
content:""
 }
 .post-metadata:after{
 clear:both
 }
 .post-metadata:after{
 content:"";display:table;  
clear:both
 }
 .post-metadata p{
 margin:0
 }
 .post-metadata .left,.post-metadata .right{
 display:inline-block;  
width:48.9%
 }
 .post-metadata .left{
 float:left;  
text-align:left
 }
 .post-metadata .right{
 float:right;  
text-align:right
 }
 .post-comment-count{
 margin-top:20px;  
margin-top:1.25rem;  
font-size:11px;  
font-size:.6875rem
 }
 .post-tags{
 margin:30px 0 0
 }
 .post-readmore{
 float:right;  
display:inline-block;  
background:#cd4654;  
color:#fff;  
padding:5px 10px
 }
 .blog-pagination{
 background-color:#fff;  
padding:15px;  
padding:.9375rem;  
margin-bottom:10px;  
margin-bottom:.625rem;  
text-align:center;  
border-bottom:solid #d7d7d7;  
border-bottom-width:2px;  
border-bottom-width:.125rem;*zoom:1
 }
 .blog-pagination:before,.blog-pagination:after{
 display:table;  
content:""
 }
 .blog-pagination:after{
 clear:both
 }
 .blog-pagination:after{
 content:"";display:table;  
clear:both
 }
 .pagination-newer{
 float:left
 }
 .pagination-older{
 float:right
 }
 .post-pdf{
 position:relative
 }
 .post-pdf .pdf-fullscreen{
 position:absolute;  
bottom:30px;  
bottom:1.875rem;  
left:30px;  
left:1.875rem;  
color:#000;  
font-size:12px;  
font-size:.75rem;  
padding:10px;  
padding:.625rem;  
background-color:#d7d7d7;  
border-radius:7px;-moz-opacity:.3;-khtml-opacity:.3;-webkit-opacity:.3;  
opacity:.3;-ms-filter:alpha(opacity=30);filter:alpha(opacity=30);-webkit-transition:all .1s ease-in;-moz-transition:all .1s ease-in;-o-transition:all .1s ease-in;  
transition:all .1s ease-in;-webkit-appearance:none;  
cursor:pointer;  
border:0
 }
 .post-pdf .pdf-fullscreen:hover{
 -moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;  
opacity:1;-ms-filter:alpha(opacity=100);filter:alpha(opacity=100)
 }
 .post-pdf object{
 display:block;  
min-height:400px;  
min-height:25rem
 }
 .blog-page{
 margin-bottom:10px;  
margin-bottom:.625rem;  
background:#fff;  
border-bottom:solid #d7d7d7;  
border-bottom-width:2px;  
border-bottom-width:.125rem
 }
 .page-title{
 color:#111;  
font-weight:bold
 }
 .widget{
margin-bottom:30px;  
margin-bottom:1.875rem;  
background:#fff;  
color:#000;  
padding: 1px;-moz-border-radius: 10px;-webkit-border-radius: 10px;  
border-radius: 10px;
 }
 .widget ul{
 list-style-type:none;  
list-style:none;  
margin:0;  
padding:0
 }
 .widget ul>li{
 padding:7px 0;  
margin:0;  
border-bottom:solid #d7d7d7;  
border-bottom-width:1px;  
border-bottom-width:.0625rem
 }
 .widget ul>li:last-child{
 border:0
 }
 .widget-title{
 padding:15px;  
padding:.9375rem;  
font-weight:normal;  
color:#252525;  
background:#fff;  
text-align:center
 }
 .widget-title a{
 color:inherit
 }
 .widget-content{
 margin:0;  
padding:0 15px 15px
 }
 .widget-about{
 text-align:center
 }
 .widget-about .avatar{
 margin-bottom:15px;  
margin-bottom:.9375rem
 }
 .widget-about ul li{
 border:0
 }
 .social-links{
 margin-top:15px;  
margin-top:.9375rem;*zoom:1;  
text-align:center
 }
 .social-links:before,.social-links:after{
 display:table;  
content:""
 }
 .social-links:after{
 clear:both
 }
 .social-links:after{
 content:"";display:table;  
clear:both
 }
 .social-links li{
 display:inline-block;  
margin-right:10px;  
margin-right:.625rem;  
list-style:none
 }
 .social-links li:last-child{
 margin-right:0
 }
 .widget-tagcloud ul{
 *zoom:1
 }
 .widget-tagcloud ul:before,.widget-tagcloud ul:after{
 display:table;  
content:""
 }
 .widget-tagcloud ul:after{
 clear:both
 }
 .widget-tagcloud ul:after{
 content:"";display:table;  
clear:both
 }
 .widget-tagcloud ul>li{
 margin-right:6px;  
margin-right:.375rem;  
margin-bottom:6px;  
margin-bottom:.375rem;  
padding:0;  
float:left;  
font-size:12px;  
font-size:.75rem;  
border:0
 }
 @media screen and (max-width:47.9375em){
 .widget-about .avatar img{
 height:62px;  
height:3.875rem;  
width:62px;  
width:3.875rem
 }
 .widget-about .avatar a{
 height:66px;  
height:4.125rem;  
width:66px;  
width:4.125rem
 }
 
 }
 

 p img {
    display: block;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
 img{
 max-width:100%;
 height:auto
 }
 a{
 -webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-o-transition:all .2s ease-out;  
transition:all .2s ease-out;-webkit-transform:translate3d(0,0,0);color:#b22130;  
text-decoration:none
 }
 a:hover,a:active,a:focus{
 color:#cd4654
 }
 ul,ol{
 margin-left:40px;  
margin-left:2.5rem;  
padding:0
 }
 cite,em,i{
 font-style:italic
 }
 blockquote,blockquote p{
 font-size:17px;  
font-size:1.0625rem;  
color:#898989;  
font-style:italic
 }
 blockquote{
 margin:0;  
margin-left:30px;  
margin-left:1.875rem;  
margin-bottom:30px;  
margin-bottom:1.875rem;  
padding:9px 30px;  
padding:.5625rem 30px;  
padding:9px 1.875rem;  
padding:.5625rem 1.875rem;  
border-left-width:4px;  
border-left-width:.25rem;  
border-left:solid #ccc;  
font-size:16px;  
font-size:1rem;  
font-weight:400;  
font-family:"Vollkorn";line-height:1.625
 }
 blockquote cite{
 display:block;  
font-size:12px;  
font-size:.75rem;  
color:#555
 }
 blockquote cite:before{
 content:"\2014 \0020"
 }
 blockquote cite a,blockquote cite a:visited,blockquote cite a:visited{
 color:#555
 }
 blockquote.right{
 text-align:right;  
border-left:none;  
border-right-width:1px;  
border-right-width:.0625rem;  
border-right:solid #d7d7d7
 }
 sub,sup{
 position:relative;  
vertical-align:baseline;  
font-size:75%;line-height:0
 }
 sup{
 top:-8px;  
top:-0.5rem
 }
 sub{
 bottom:-4px;  
bottom:-0.25rem
 }
 i,em{
 font-style:italic
 }
 b,strong{
 font-weight:bold;  
color:#363636
 }
 small{
 font-size:75%
 }
 hr{
 border-width:0;  
border:solid #d7d7d7;  
border-top-width:1px;  
border-top-width:.0625rem;  
margin:0 0 10px;  
height:0;*zoom:1
 }
 hr:before,hr:after{
 display:table;  
content:""
 }
 hr:after{
 clear:both
 }
 hr:after{
 content:"";display:table;  
clear:both
 }
 hr.large{
 margin:20px 0;  
margin:1.25rem 0;  
height:8px;  
height:.5rem;  
background:#ebebeb;  
border:0
 }
 pre,code{
 font-size:13px;  
font-size:.8125rem
 }
 pre{
 background:#ebebeb;  
font-family:"Courier 10 Pitch",Courier,monospace;  
margin-bottom:15px;  
margin-bottom:.9375rem;  
padding:15px;  
padding:.9375rem
 }
 code{
 font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace
 }
 figure{
 margin:0
 }
 table{
 margin:0 0 1.5em;  
width:100%
 }
 th{
 font-weight:bold
 }
 .avatar a,.avatar img{
 -webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;margin:auto;  
padding:0
 }
 .avatar a{
 display:inline-block;  
height:96px;  
height:6rem;  
width:96px;  
width:6rem;-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.25);-moz-box-shadow:0 2px 3px rgba(0,0,0,0.25);box-shadow:0 2px 3px rgba(0,0,0,0.25);border:solid #fff;  
border-width:2px;  
border-width:.125rem
 }
 .avatar img{
 height:92px;  
height:5.75rem;  
width:92px;  
width:5.75rem
 }
 embed,iframe,object{
 max-width:100%
 }
 body{
 }
 .site-header,.site-content{
 margin-bottom:30px;  
margin-bottom:1.875rem
 }
 .site-header{
 background:transparent;  
border-bottom:solid #d7d7d7;  
border-bottom-width:2px;  
border-bottom-width:.125rem
 }
 .site-header .header-top{
 margin:0 0 10px;  
text-align:center
 }
 .site-header .header-top h1{
 padding-top:15px;  
padding-top:.9375rem;  
text-transform:uppercase
 }
 .site-header .header-top h1 a{
 color:#111
 }
 .site-header .header-top h2{
 padding-top:5px;  
padding-top:.3125rem
 }
 .site-header .site-nav{
 height:45px;  
height:1.9125rem;  
margin-top:30px;  
margin-top:1.875rem;  
font-size:12px;  
font-size:.75rem;  
text-transform:uppercase;  
list-style:none
 }
 .site-header .nav-menu {
    font-family: 'Open Sans Condensed', sans-serif;
	font-size: 15px;
    background: none repeat scroll 0 0 #000;
    border-left: 0 none;
    border-right: 0 none;
    height: 30px;
	position: relative;
    margin-left: 0;
    text-align: center;
 }
 .site-header .nav-menu>li{
 display:inline-block
 }
 .site-header .nav-menu>li>a{
 margin:17px 10px 18px;  
border:0
 }
 .site-header .nav-menu>li>a:hover{
 color:#cd4654
 }
 .site-footer{
 padding:20px 30px;  
font-size:12px;  
font-size:.75rem;  
text-align:center;
 }
 .site-footer p{
 margin:0
 }
 .feed-item{
 margin-bottom:30px;  
margin-bottom:1.875rem
 }
 .blog-post,.blog-page{
padding:30px;  
padding:1.875rem;  
<!-- background-color:#fff; -->  
border-bottom:solid #d7d7d7;  
border-bottom: 4px double #000;
margin-right: 0;
 }
 .post-single{
 margin:0 0 10px
 }
 .post-header,.post-body{
 *zoom:1
 }
 .post-header:before,.post-body:before,.post-header:after,.post-body:after{
 display:table;  
content:""
 }
 .post-header:after,.post-body:after{
 clear:both
 }
 .post-header:after,.post-body:after{
 content:"";display:table;  
clear:both
 }
 .post-header{
 color:#111;  
margin-bottom:30px;  
margin-bottom:1.875rem
 }
 .post-title{
 margin-bottom:5px;  
margin-bottom:.3125rem;  
color:#111;*zoom:1
 }
 .post-title:before,.post-title:after{
 display:table;  
content:""
 }
 .post-title:after{
 clear:both
 }
 .post-title:after{
 content:"";display:table;  
clear:both
 }
 .post-title a{
 color:inherit
 }
 .post-metadata{
 font-size:11px;  
font-size:.6875rem;  
text-transform:uppercase;  
color:#b22130;*zoom:1
 }
 .post-metadata:before,.post-metadata:after{
 display:table;  
content:""
 }
 .post-metadata:after{
 clear:both
 }
 .post-metadata:after{
 content:"";display:table;  
clear:both
 }
 .post-metadata p{
 margin:0
 }
 .post-metadata .left,.post-metadata .right{
 display:inline-block;  
width:48.9%
 }
 .post-metadata .left{
 float:left;  
text-align:left
 }
 .post-metadata .right{
 float:right;  
text-align:right
 }
 .post-comment-count{
 margin-top:20px;  
margin-top:1.25rem;  
font-size:11px;  
font-size:.6875rem
 }
 .post-tags{
 margin:30px 0 0
 }
 .post-readmore{
 float:right;  
display:inline-block;  
background:#cd4654;  
color:#fff;  
padding:5px 10px
 }
 .blog-pagination{
 background-color:#fff;  
padding:15px;  
padding:.9375rem;  
margin-bottom:10px;  
margin-bottom:.625rem;  
text-align:center;  
border-bottom:solid #d7d7d7;  
border-bottom-width:2px;  
border-bottom-width:.125rem;*zoom:1
 }
 .blog-pagination:before,.blog-pagination:after{
 display:table;  
content:""
 }
 .blog-pagination:after{
 clear:both
 }
 .blog-pagination:after{
 content:"";display:table;  
clear:both
 }
 .pagination-newer{
 float:left
 }
 .pagination-older{
 float:right
 }
 .post-pdf{
 position:relative
 }
 .post-pdf .pdf-fullscreen{
 position:absolute;  
bottom:30px;  
bottom:1.875rem;  
left:30px;  
left:1.875rem;  
color:#000;  
font-size:12px;  
font-size:.75rem;  
padding:10px;  
padding:.625rem;  
background-color:#d7d7d7;  
border-radius:7px;-moz-opacity:.3;-khtml-opacity:.3;-webkit-opacity:.3;  
opacity:.3;-ms-filter:alpha(opacity=30);filter:alpha(opacity=30);-webkit-transition:all .1s ease-in;-moz-transition:all .1s ease-in;-o-transition:all .1s ease-in;  
transition:all .1s ease-in;-webkit-appearance:none;  
cursor:pointer;  
border:0
 }
 .post-pdf .pdf-fullscreen:hover{
 -moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;  
opacity:1;-ms-filter:alpha(opacity=100);filter:alpha(opacity=100)
 }
 .post-pdf object{
 display:block;  
min-height:400px;  
min-height:25rem
 }
 .blog-page{
 margin-bottom:10px;  
margin-bottom:.625rem;  
background:#fff;  
border-bottom:solid #d7d7d7;  
border-bottom-width:2px;  
border-bottom-width:.125rem
 }
 .page-title{
 color:#111;  
font-weight:bold
 }
 .widget{
 margin-bottom:30px;  
margin-bottom:1.875rem;  
background:#fff;  
color:#000;  
padding: 1px;-moz-border-radius: 10px;-webkit-border-radius: 10px;  
border-radius: 10px;
 }
 .widget ul{
 list-style-type:none;  
list-style:none;  
margin:0;  
padding:0
 }
 .widget ul>li{
 padding:7px 0;  
margin:0;  
border-bottom:solid #d7d7d7;  
border-bottom-width:1px;  
border-bottom-width:.0625rem
 }
 .widget ul>li:last-child{
 border:0
 }
 .widget-title{
 padding:15px;  
padding:.9375rem;  
font-weight:normal;  
color:#252525;  
background:#fff;  
text-align:center
 }
 .widget-title a{
 color:inherit
 }
 .widget-content{
 margin:0;  
padding:0 15px 15px
 }
 .widget-about{
 text-align:center
 }
 .widget-about .avatar{
 margin-bottom:15px;  
margin-bottom:.9375rem
 }
 .widget-about ul li{
 border:0
 }
 .social-links{
 margin-top:15px;  
margin-top:.9375rem;*zoom:1;  
text-align:center
 }
 .social-links:before,.social-links:after{
 display:table;  
content:""
 }
 .social-links:after{
 clear:both
 }
 .social-links:after{
 content:"";display:table;  
clear:both
 }
 .social-links li{
 display:inline-block;  
margin-right:10px;  
margin-right:.625rem;  
list-style:none
 }
 .social-links li:last-child{
 margin-right:0
 }
 .widget-tagcloud ul{
 *zoom:1
 }
 .widget-tagcloud ul:before,.widget-tagcloud ul:after{
 display:table;  
content:""
 }
 .widget-tagcloud ul:after{
 clear:both
 }
 .widget-tagcloud ul:after{
 content:"";display:table;  
clear:both
 }
 .widget-tagcloud ul>li{
 margin-right:6px;  
margin-right:.375rem;  
margin-bottom:6px;  
margin-bottom:.375rem;  
padding:0;  
float:left;  
font-size:12px;  
font-size:.75rem;  
border:0
 }
 @media screen and (max-width:47.9375em){
 .widget-about .avatar img{
 height:62px;  
height:3.875rem;  
width:62px;  
width:3.875rem
 }
 .widget-about .avatar a{
 height:66px;  
height:4.125rem;  
width:66px;  
width:4.125rem
 }
 
 }
 